// footer
footer {
    position: relative;
    min-height:100vh;
    min-height: -webkit-fill-available;
    margin: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 18px;
        font-family: $font-family-sans-serif;
        margin: 0;
        padding: 0;
        color: black;
    }

    i {
        font-size: 54px;
        padding: 30px;
    }

    .footer--title {
        width: 100%;
        max-width: 600px;
        padding: 25px 40px;

        h1 {
            font-family: $font-brand;
            font-weight: bold;
            text-align: center;
        }

        p {
            padding-top: 50px;
            margin: 15px;
            text-align: center;
        }

        @media screen {

            p {
                padding-top: 15px;
            }
        }
    }

    .footer--map {
        width: 100%;
        max-width: 1200px;
        padding: 40px 20px;

        #map {
            margin: auto;
            display: block;
            border-radius: 7px;
            padding: 0;
            width: 100%;
            padding: 40px;
            max-width: 500px;
            height: 300px;
            border: 1px solid $brandorange;
        }

        @media screen {
            padding: 15px 20px;
        }

        @media (max-width: 500px) {
            .map {
                width: 100%;
            }
        }
    }

    .footer--social__title {
        width: 100%;
        max-width: 600px;
        padding: 50px;
        
        p {
            text-align: center;
        }

        @media screen {
            padding: 15px;
        }
    }

    .footer--social {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 25px;

        .fa-facebook {
            color: $facebook;
        }

        .fa-twitter {
            color: $twitter;
        }

        .fa-instagram {
            color: $insta;
        }

        .fa-snapchat {
            color: $snap;
        }

        .fa-phone-square {
            color: $phone;
        }

        .fa-phone-envelope {
            color: $brandgray;
        }
        @media screen {
            padding: 15px;
        }

    }

    .footer--qualified {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        img {
            margin: 45px 25px;
            height: 75px;
        }
    }

    .footer--terms {
        padding: 25px;
        text-align: center;
        p {
            font-size: 12px;
        }

        @media (max-width: 750px) {
            position: relative;
        }
    }


}