/* SERVICES */
.services {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding-bottom: 100px;
}

.services--content {
    margin: auto;
    width: 100%;
    max-width: 800px;
    color: black;
    padding: 60px 15px 40px 15px;
    text-align: center;

    h1 {
        font-weight: bold;
        line-height: 70px;
        font-size: 45px;
        text-align: center;
        font-family: $font-brand;
    }

    p {
        font-size: 18px;
        padding: 0;
    }

    p:last-of-type {
        font-size: 12px;
    }
}
