/* SPLASH PAGE CONTAINER */
.splash {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ARROW */

#services_arrow,#contact_arrow, #intro_arrow, #splash_arrow, #testimonials_arrow {
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
    text-align: center;
    i {
        text-align: center;
        color: black;
        font-size: 50px;
    }

    @media (max-width: 800px) {
        bottom: 1%;
    }
}

#splash_arrow {
    i {
        color: $brandgray;
    }
}

#intro_arrow {
    i {
        color: white;
    }
}


#contact_arrow {
    i {
        color: white;
    }
}

#testimonials_arrow {
    i {
        color: black;
    }
}

.fa-bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1s infinite linear;
    -o-animation: bounce 1s infinite linear;
    -webkit-animation: bounce 1s infinite linear;
    animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
    0% {
        top: 0;
    }
    50% {
        top: -0.2em;
    }
    70% {
        top: -0.3em;
    }
    100% {
        top: 0;
    }
}

@-moz-keyframes bounce {
    0% {
        top: 0;
    }
    50% {
        top: -0.2em;
    }
    70% {
        top: -0.3em;
    }
    100% {
        top: 0;
    }
}

@-o-keyframes bounce {
    0% {
        top: 0;
    }
    50% {
        top: -0.2em;
    }
    70% {
        top: -0.3em;
    }
    100% {
        top: 0;
    }
}

@-ms-keyframes bounce {
    0% {
        top: 0;
    }
    50% {
        top: -0.2em;
    }
    70% {
        top: -0.3em;
    }
    100% {
        top: 0;
    }
}

@keyframes bounce {
    0% {
        top: 0;
    }
    50% {
        top: -0.2em;
    }
    70% {
        top: -0.3em;
    }
    100% {
        top: 0;
    }
}