.testimonials {
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    flex-grow: 1;

    .testimonials--title {
        width: 100%;
        max-width: 1200px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: $font-brand;
            font-weight: bold;
            text-align: center;
        }

        p {
            font-size: 18px;
        }

        @media screen {
            padding: 20px;
            
            h1 {
                font-size: 28px;
            }
        }
    }
    .slider {
        width: 100%;
        max-width: 1200px;
        border: none;
        outline: none;
        opacity: 0;
        transition: opacity 1s ease;
        -webkit-transition: opacity 1s ease;
    }

    .slider.slick-initialized {
        opacity: 1;    
    }

    // slick border fix
    .slick-slide:focus { outline: none; }

    .testimonials--customer {
        width: 100%;
        max-width: 1200px;
        padding: 0 50px;

        h5 {
            text-align: right;
            padding-top: 25px;
            font-weight: 400;
        }

        h1 {
           
            line-height: 48px;
            font-size: 34px;
        }

        i {
            font-size: 22px;
        }

        @media screen {

            h1 {
                font-size: 24px;
                line-height: 40px;
            }
        }
    }

    .testimonials--rating {
        padding: 100px 25px;
        margin: auto;
        text-align: center;

        i {
            color: gold;
            font-size: 42px;
        }

        @media screen {
           padding: 25px 15px 100px 25px;
        }
    }
}